<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://s.yimg.com/ny/api/res/1.2/K_DjLcLONAU0rwP4b9j9tA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD02NDY-/https://s.yimg.com/os/creatr-uploaded-images/2020-04/5d88c970-889d-11ea-9fdf-88af9dbebae2" height="200px" width="300px">
    </div>
    <a href=""></a>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="#">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a consequat justo. Nam elit lacus, sollicitudin a ante vel, feugiat iaculis tortor. Suspendisse eu nibh semper, bibendum ligula ac, iaculis nulla. Phasellus gravida nibh eu lorem posuere, id egestas ante venenatis. 
            </a>
        </p>
    </div>
</div>
